html,
body {

  height:100%;
}

body {

  background-image: url('../images/Spur.png');
  text-align: center;


}

.jumbotron {

  margin:5.5% auto;
  background-color: silver;
  width:695px;
  height:200px;
  text-orientation: center;


}

.container {
	height:325px;
	width:695px;
	background-color: silver;
	padding-bottom: 25px;
}

#sub-wrapper {

  position: relative;
  top:15%;

}

button {

  display:block;
  width:50%;
  height:20%;
  margin: 0 auto;
  border:none;
  cursor: pointer;
  background:transparent;
  font-size: 30px;;
  font-family: 'Roboto Slab', serif;

}

img {

  height:200px;
  background: rgba(76, 175, 80, 0.3)


}

h1 {

  font-family: 'Frijole', cursive;
  font-size: 6.5em;
  /*font-weight: bold;*/
  color:black;
  padding-bottom: 5px;

}

h2 {
  font-family: 'Roboto Slab', serif;
  font-size: 35px;
  margin-bottom: 5px;

}

h3 {
  font-family: 'Roboto Slab', serif;
  font-size: 15px;
  margin-bottom: 30px;

}

#start {

  margin-top: 10%;
  border:2px white;
  background: black;
  color: white;

}

button:hover {

  border:2px blue;
  background: pink;

}

/*.header{
	text-align: center;
	color: pink;
	border-radius: 10px;
	padding: 1 0 1 0;
	background: url("https://rbcloud.blob.core.windows.net/business/ef3fc546-df75-4ebd-a91e-a4e5010622e1/bannercrm_ahtgvxnvpt.SanAntonioSpurs_crop.jpg");
	background-size: 550px;
	font-family: 'Georgia', Times, Times New Roman, serif;
}

.body{
	text-align: center;
	border-style: solid;
	border: 3 3 3 3;
	border-radius: 10px;
	margin-top: 5px;
	background-color: pink;
}

.question{
	text-align: center;
	border-style: solid;
	border: 3 3 3 3;
	border-radius: 10px;
	margin-top: 10px;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 10px;
	padding-bottom: 5px;
	background-color: silver;
}

#nameOfQuiz{
	text-align: center;
	border-style: solid;
	border: 3 3 3 3;
	border-radius: 10px;
	margin-top: 120px;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 10px;
	padding-bottom: 5px;
	background-color: silver;
	
}

header {
	background: url("http://i.cdn.turner.com/nba/nba/.element/media/2.0/teamsites/spurs/Schad/img/PostgameTeams/SAS.png");
	padding-top: 50px;
	padding-bottom: 50px;


}
*/