html,
body {

  height:100%;
}

body {

  background-image: url('../images/att.jpg');
  background-size: 100%;
  text-align: center;
  color: white;
  text-shadow: black 0.1em 0.1em 0.2em;


}

.container {
	height:325px;
	width:695px;
	background-color: black;
	background: rgba(0, 0, 0, 0.8);
	padding-bottom: 25px;
}

#sub-wrapper {

  position: relative;
  top:15%;

}

button {

  display:block;
  width:50%;
  height:20%;
  margin: 0 auto;
  border:none;
  cursor: pointer;
  background:transparent;
  font-size: 30px;;
  font-family: 'Roboto Slab', serif;

}

img {

  height:200px;
 
}

h1 {
	padding-top: 100px;
  font-family: 'Frijole', cursive;
  font-size: 4.5em;
  /*font-weight: bold;*/
  color: white;
  
  text-shadow: black 0.1em 0.1em 0.2em;  

}

h2 {
  font-family: 'Roboto Slab', serif;
  font-size: 35px;
  margin-bottom: 5px;
  color: white;

}

h3 {
  font-family: 'Roboto Slab', serif;
  font-size: 15px;
  margin-bottom: 30px;
  color: white;

}

#start {

  margin-top: 10%;
  border:2px white;
  background: black;
  color: white;


}

button:hover {

  border:2px blue;
  background: pink;

}

.titleText {

	color: pink;
	
}

