
.header{
	text-align: center;
	color: pink;
	border-radius: 10px;
	padding: 1 0 1 0;
	background: url("https://rbcloud.blob.core.windows.net/business/ef3fc546-df75-4ebd-a91e-a4e5010622e1/bannercrm_ahtgvxnvpt.SanAntonioSpurs_crop.jpg");
	background-size: 550px;
	font-family: 'Georgia', Times, Times New Roman, serif;
}

.body{
	text-align: center;
	border-style: solid;
	border: 3 3 3 3;
	border-radius: 10px;
	margin-top: 5px;
	background-color: pink;
}

.question{
	text-align: center;
	border-style: solid;
	border: 3 3 3 3;
	border-radius: 10px;
	margin-top: 10px;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 10px;
	padding-bottom: 5px;
	background-color: silver;
}

#nameOfQuiz{
	text-align: center;
	border-style: solid;
	border: 3 3 3 3;
	border-radius: 10px;
	margin-top: 120px;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 10px;
	padding-bottom: 5px;
	background-color: silver;
	
}

header {
	background: url("http://i.cdn.turner.com/nba/nba/.element/media/2.0/teamsites/spurs/Schad/img/PostgameTeams/SAS.png");
	padding-top: 50px;
	padding-bottom: 50px;


}
